@import "tailwindcss";

@theme {
    --color-primary: #49c1b9;
    --color-secondary: #30308d;
    --color-background: #ebebeb;
}

@layer components {
    .container-box {
        @apply px-[10dvh] py-[10dvh]
    }

    .badge {
        @apply mb-7 flex items-center gap-2 rounded-full bg-[#3DC5B826] px-5 py-2 text-sm font-semibold text-primary
    }

    .badge-dot {
        @apply h-2.5 w-2.5 rounded-full bg-primary
    }

    .heading {
        @apply max-w-4xl text-center text-4xl font-extralight leading-[1.1] tracking-tight text-[#151515] md:text-5xl lg:text-6xl
    }

    .sub-heading {
        @apply max-w-4xl text-center text-base font-light leading-relaxed text-gray-700 md:text-xl
    }
}